{% extends "template.html" %}


{%block body%}
<!-- Calendar -->
<div class="calendar-month container">
    <!-- The calendar header -->
    <section class="calendar-month-header">
      <!-- Month name -->
      <div id="selected-month" class="calendar-month-header-selected-month">
        {{month}}
      </div>
  
      <!-- Pagination -->
      <div class="calendar-month-header-selectors">
        <span id="previous-month-selector"><</span>
        <span id="present-month-selector">Today</span>
        <span id="next-month-selector">></span>
      </div>
    </section>
    
    <!-- Calendar grid header -->
    <ul id="days-of-week" class="day-of-week">
        {% for day in weekdays %}
        <li>{{day}}</li>
        {% endfor %}
    </ul>
  
    <!-- Calendar grid -->
    <ul id="calendar-days" class="days-grid">
        {% for i in range(1,days+1)%}
        <li class="calendar-day">{{ i }}</li>
        {%endfor%}
    </ul>
</div>
<script src="../js/calendar.js"></script>
{% endblock%}