<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Harmonee</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../css/utilities.css">
		<link rel="stylesheet" href="../css/styles.css">
	</head>
	<body class="bg-primary" >
        <!-- Navbar -->
        <header>
            <div class="navbar bg-action">
				<div class="flex container">
					<a href="/"><img src="../images/zen.png" alt="logo"></img></a>
					<ul>
						{% if user %}
                        <li><a href="/journal" class="text-secondary bold">Journal</a></li>
                        <li><a href="/profile" class="text-secondary bold"><i class="fa-solid fa-user"></i></a></li>
                        <li><a href="/logout" class="text-secondary bold">Logout</a></li>
                        {% else %}
                        <li><a href="/login" class="text-secondary bold">Login</a></li>
                        <li><a href="/register" class="text-secondary bold">Register</a></li>
                        {% endif %}
					</ul>
				</div>
            </div>
        </header>
		<!-- Hero -->
		<section class="container hero flex">
			<article class="flex">
				<h1 class="text-primary bold lg">Discover the Harmony in your life.</h1>
				<p class="text-primary md my-1">Simple mood tracking, bring awareness to your patterns and use them to guide your decisions.</p>
				<a href="/register" class="btn my-1 bold">Get Started</a>
			</article>
			<section class="hero-image">

			</section>
		</section>

		<script type="text/javascript" src="../js/main.js"></script>
	</body>
</html>
