/******************************************
/* CSS
/*******************************************/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&display=swap");
/* Box Model Hack */
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
/* Global Styles */
:root {
  --primary-color: #ebd5b3;
  --secondary-color: #1d1e18;
  --action-color: #8b0302;
  --error-color: red;
  --grey-100: #e4e9f0;
  --grey-200: #cfd7e3;
  --grey-300: #b5c0cd;
  --grey-800: #3e4e63;
  --grid-gap: 1px;
  --day-label-size: 20px;
  --happy-color: hsl(130 52% 46%);
  --neutral-color: hsl(44 83% 53%);
  --sad-color: hsl(18 100% 50%);
}

body {
  font-family: "EB Garamond", serif;
  height: 100%;
}

body * {
  font-family: inherit;
}

a {
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
}
/* Navbar */

header {
  width: 100%;
  height: 80px;
}

.navbar {
  height: 100%;
}
.navbar .flex {
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.navbar img {
  height: 60px;
  width: 66px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  padding: 5px;
}

.navbar a:hover {
  border-bottom: 1px var(--primary-color) solid;
}

/* Hero */
.container.hero {
  height: 500px;
  margin-top: 2rem;
  justify-content: space-around;
  border-radius: 20px;
  background-color: var(--primary-color);
}

.hero article.flex {
  flex-flow: column nowrap;
  align-items: flex-start;
}

.hero-image {
  height: 66%;
  width: 60%;
  border-radius: 50%;
  padding-left: 90px;
  background-image: url("../images/Harmony.png");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}

.hero article h1 {
  width: 80%;
}

.hero article p {
  width: 75%;
}
/* Utility */
.utility {
  width: 100%;
  height: 400px;
}

.utility .container {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1rem;
  padding: 10px;
}

.utility .container .flex {
  flex-flow: column nowrap;
  justify-content: center;
}

.utility .container .flex p {
  width: 70%;
  text-align: center;
}

/* Register & Login*/
.register.container,
.login.container {
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
  height: 80%;
  padding: 3rem 1.5rem;
}

.register div,
.login div {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register h2,
.login h2 {
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: bold;
}

.register section,
.login section {
  height: 85%;
  min-width: 40%;
  margin: 1rem auto;
}
.register form,
.login form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.register .form-control,
.login .form-control {
  border: 0;
  width: 100%;
  font-size: 1rem;
  padding: 0.375rem;
  border-radius: 0.375rem;
  margin-bottom: 10px;
  box-shadow: 0 0 1px 1px #ccc;
}

.register-form input:focus,
.login input:focus {
  outline: none;
}

.login .register-form {
  height: 150px;
}

/* Journal */
.journal.container {
  height: 800px;
  overflow: hidden;
}

.journal-form {
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  color: var(--secondary-color);
}

.journal h3 {
  align-self: center;
}

.journal aside {
  align-self: center;
}

.smiley {
  display: none;
}

.smiley + label {
  font-size: 4rem;
  margin: 25px;
}

.sad + label {
  color: hsl(18 100% 50%);
}

.neutral + label {
  color: hsl(44 83% 53%);
}

.happy + label {
  color: hsl(130 52% 46%);
}

.journal i {
  background-color: #1d1e18;
  border-radius: 50%;
}

input[type="radio"]:checked + label i {
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
}

.title {
  font-family: inherit;
  font-weight: bold;
  padding: 10px;
  font-size: 1.2rem;
  color: var(--secondary-color);
  background: none;
  border: 0;
  border-bottom: 1px solid gray;
  width: 100%;
}

.title:focus {
  outline: none;
}

.date {
  background: none;
  border: 0;
  font-size: 1.2rem;
  padding: 5px;
}

.date:focus {
  border: 1px solid var(--secondary-color);
}

.journal textarea {
  width: 100%;
  height: 150px;
  font-size: 1.2rem;
  font-family: inherit;
  border-radius: 9px;
  padding: 5px;
  resize: vertical;
  overflow: auto;
}

.journal textarea:focus {
  outline: none;
}

/* CALENDAR STYLES */

.calendar-month {
  position: relative;
  margin-top: 50px;
  /* Color of the day cell borders */
  background-color: var(--primary-color);
  font-family: inherit;
  overflow: hidden;
}

/* Month indicator and selectors positioning */
.calendar-month-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  color: var(--secondary-color);
  font-size: 1.4rem;
  padding-right: 2rem;
}

/* Month indicator */
.calendar-month-header-selected-month {
  font-size: 24px;
  font-weight: 600;
  color: #1d1e18;
}

/* Month selectors positioning */
.calendar-month-header-selectors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.calendar-month-header-selectors > * {
  cursor: pointer;
  margin-left: 10px;
}

/* | Mon | Tue | Wed | Thu | Fri | Sat | Sun | */
.day-of-week {
  color: var(--grey-800);
  font-size: 1.2rem;
  background-color: #fff;
  padding-bottom: 5px;
  padding-top: 10px;
}

.day-of-week,
.days-grid {
  /* 7 equal columns for weekdays and days cells */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-of-week > * {
  /* Position the weekday label within the cell */
  text-align: right;
  padding-right: 5px;
}

.days-grid {
  height: 100%;
  position: relative;
  /* Show border between the days */
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
  border-top: solid 1px var(--grey-200);
}

.calendar-day {
  position: relative;
  min-height: 100px;
  font-size: 16px;
  background-color: #ffffff;
  color: var(--grey-800);
  padding: 5px;
  display: inline-block;
  overflow: hidden;
}

.calendar-day:hover {
  transform: scale(1.2);
  border: 1px solid var(--secondary-color);
  z-index: 2;
  cursor: pointer;
}

/* Position the day label within the day cell */
.calendar-day > span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2px;
  width: var(--day-label-size);
  height: var(--day-label-size);
}

/* Modal for Calendar days */
.modal {
  position: fixed;
  margin: 0;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  height: 200px;
  width: 300px;
  background-color: #fff;
  flex-flow: column nowrap;
  justify-content: space-around;
  font-size: 1.4rem;
}

/* moods for days */
.happy {
  background-color: var(--happy-color);
}

.sad {
  background-color: var(--sad-color);
}

.neutral {
  background-color: var(--neutral-color);
}

/* Journal */

.entries {
  padding-top: 20px;
  overflow: visible;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  height: auto;
}

.above {
  height: 100px;
  flex-flow: column nowrap;
}

.above h1 {
  color: var(--secondary-color);
}

.journal h1 {
  color: #1d1e18;
}

.pastEntry {
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 250px;
  width: 100%;
  align-items: flex-start;
  border: 1px solid var(--action-color);
  border-radius: 9px;
  color: var(--secondary-color);
  overflow: hidden;
  box-shadow: 0px 0px 5px 3px var(--secondary-color);
  padding: 10px;
  cursor: pointer;
}

.pastEntry .fa-solid {
  align-self: center;
  position: relative;
  border-radius: 50%;
}

.pastEntry p {
  overflow: hidden;
}

.smiley-happy {
  background-color: var(--secondary-color);
  color: var(--happy-color);
  font-size: 3rem;
}

.smiley-sad {
  background-color: var(--secondary-color);
  color: var(--sad-color);
  font-size: 3rem;
}

.smiley-neutral {
  background-color: var(--secondary-color);
  color: var(--neutral-color);
  font-size: 3rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Media Queries */
@media screen and (max-width: 1000px) {
  .entries.container.grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .entries.container.grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero {
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .hero article.flex {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .hero article.flex h1,
  .hero article.flex p {
    width: 100%;
  }
  .hero-image {
    width: 100%;
    border-radius: 20%;
  }
}

@media screen and (max-width: 412px) {
  .navbar .container ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 70%;
    margin-top: 15px;
  }

  .navbar {
    overflow: auto;
  }
  header {
    overflow: auto;
  }

  .navbar a:hover {
    border: none;
  }
}
