{% extends "template.html" %}

{% block title%}
Register
{% endblock%}

{%block body%}
<!-- Register -->
<section class="container register flex">
	<form action="/register" method="POST" class="register-form card">
		<input type="text" autocomplete="off" autofocus placeholder="Username" class="form-control" name="username" required>
		<input type="email" placeholder="Email(optional)" class="form-control" name="email">    
		<input type="password" placeholder="Password" class="form-control" name="password" aria-required="">
		<button type="submit" class="btn btn-secondary">Register</button> 
	</form>
</section>
{% endblock%}